
.on {
  background-image: url("images/on.png");
  position: absolute;
  left: 132px;
  top: 15px;
  width: 103px;
  height: 54px;
  z-index: 72;
}
.fondoNegro {
  background-image: url("images/fondoNegro.png");
  position: absolute;
  left: -8px;
  top: 0px;
  width: 382px;
  height: 901px;
  z-index: 71;
}
.off {
  background-image: url("images/off.png");
  position: absolute;
  left: 123px;
  top: 8px;
  width: 119px;
  height: 70px;
  z-index: 68;
}
.textoModal {
  background-image: url("images/textoModal.png");
  position: absolute;
  left: 39px;
  top: 302px;
  width: 289px;
  height: 210px;
  z-index: 66;
}
.hidden {
  display: none;
}
.pastel {
  background-image: url("images/pastel.png");
  position: absolute;
  left: 29px;
  top: 559px;
  width: 63px;
  height: 49px;
  z-index: 61;
}

.modal {
  background-image: url("images/modal.png");
  position: absolute;
  left: 10px;
  top: 286px;
  width: 340px;
  height: 340px;
  z-index: 60;
}

.cerrar {
  background-image: url("images/cerrar.png");
  position: absolute;
  left: 390px;
  top: 231px;
  width: 59px;
  height: 59px;
  z-index: 41;
}
.titulos {
  background-image: url("images/titulos.png");
  position: absolute;
  left: 25px;
  top: 142px;
  width: 316px;
  height: 14px;
  z-index: 58;
}
.banner {
  background-image: url("images/banner.gif");
  position: absolute;
  left: 33px;
  top: 821px;
  width: 300px;
  height: 68px;
  z-index: 54;
}
.leon {
  background-image: url("images/leon.png");
  position: absolute;
  left: 25px;
  top: 606px;
  width: 315px;
  height: 94px;
  z-index: 53;
}
.siete {
  background-image: url("images/siete.png");
  position: absolute;
  left: 274px;
  top: 691px;
  width: 87px;
  height: 103px;
  z-index: 54;
}
.cumple {
  background-image: url("images/cumple.png");
  position: absolute;
  left: 9px;
  top: 716px;
  width: 278px;
  height: 63px;
  z-index: 55;
}
.sonic {
  background-image: url("images/sonic.png");
  position: absolute;
  left: -8px;
  top: 306px;
  width: 252px;
  height: 497px;
  z-index: 36;
}
.encabezado {
  background-image: url("images/encabezado.png");
  position: absolute;
  left: 25px;
  top: 166px;
  width: 317px;
  height: 149px;
  z-index: 33;
}
.rayos {
  background-image: url("images/rayos.png");
  position: absolute;
  width: 360px;
  height: 900px;
  z-index: 32;
}

.anillo {
  background-image: url("images/anillo.png");
  position: absolute;
  top: 163px;
  left: -87px;
  width: 565px;
  height: 564px;
  z-index: 9;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.fondo {
  background-image: url("images/fondo.png");
  position: absolute;
  width: 360px;
  height: 900px;
  z-index: 8;
}

.eggman {
  background-image: url("images/eggman.png");
  position: absolute;
  left: 76px;
  top: 333px;
  width: 290px;
  height: 500px;
  z-index: 7;
}
.cielo {
  background-image: url("images/cielo.png");
  position: absolute;
  width: 360px;
  height: 900px;
  z-index: 6;
}
.btns:hover {
  scale: 90%;
}
.contador {
  position: absolute;
  width: 350px;
  top: 260px;
  left: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(48, 125, 233);
  user-select: none;
  font-family: 'DynaPuff', cursive;
}
th {
  padding: 10px;
}
td {
  text-align: center;
}


.logo {
  animation: logo 2s ease 0s infinite normal forwards;
}
@keyframes logo {
0% {
  transform: scale3d(1, 1, 1);
}

30% {
  transform: scale3d(1.25, 0.75, 1);
}

40% {
  transform: scale3d(0.75, 1.25, 1);
}

50% {
  transform: scale3d(1.15, 0.85, 1);
}

65% {
  transform: scale3d(0.95, 1.05, 1);
}

75% {
  transform: scale3d(1.05, 0.95, 1);
}

100% {
  transform: scale3d(1, 1, 1);
}
}

.anim {
  animation: personajes 4s ease 0s infinite normal forwards;
}
@keyframes personajes {
0%,
100% {
  transform: translateX(0%);
  transform-origin: 50% 50%;
}

15% {
  transform: translateX(-30px) rotate(-6deg);
}

30% {
  transform: translateX(15px) rotate(6deg);
}

45% {
  transform: translateX(-15px) rotate(-3.6deg);
}

60% {
  transform: translateX(9px) rotate(2.4deg);
}

75% {
  transform: translateX(-6px) rotate(-1.2deg);
}
}
